

.env
.venv

output/
data/gorilla_openfunctions_v1_train.json
data/gorilla_openfunctions_v1_test.json
data/ToolBench
data/synthetic_parallel_tool_calls.json
data/synthetic_parallel_tool_calls_partial.json

temp_validation_dataset/

__pycache__/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.DS_Store
.env
.venv